{% extends "base.html" %}

{% block title %}
    <title>Add Volunteering — {{ name }}</title>
{% endblock title %}

{% block content %}

<main>
        <section class="volunteering-section">
            <div class="container">
                <h1>Add New Volunteerings</h1>
                <form method="post"
                      action="{% url 'main:create_volunteering' %}"
                      class="volunteering-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="form-error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button">Tambah Volunteering</button>
                    <a href="{% url 'main:show_volunteering' %}" class="button button-secondary">Batal</a>
                </form>
            </div>
        </section>
    </main>

{% endblock content %}